---
import { getCollection } from 'astro:content';

import CVBlock  from '../components/CVBlock.astro';
import githubLogo from '../images/svg/github.svg';
import linkedinLogo from '../images/svg/linkedin.svg';
import emailLogo from '../images/svg/email.svg';
import ProjectBlock from '../components/ProjectBlock.astro';
import {Content as Brief} from '../content/main/brief.md';

const cvBlocks = await getCollection('cv');
cvBlocks.sort((block1, block2) => (block2.data.id - block1.data.id));

const projects = await getCollection('projects');
projects.sort((project1, project2) => project1.data.year == "ongoing" ? -1 : project2.data.year == "ongoing" ? 1 : (project2.data.year - project1.data.year));

const voluntary = await getCollection('voluntary');
voluntary.sort((project1, project2) => project1.data.year == "ongoing" ? -1 : project2.data.year == "ongoing" ? 1 : (project2.data.id - project1.data.id));
---
<html class="bg-[#121212]">
	<head>
		<title>Maxim Popov</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-2TKMCFNG4M"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			
			gtag('config', 'G-2TKMCFNG4M');
			</script>
	</head>
	
	<body class="flex flex-col place-items-center m-0">
		<main class="w-5/6 md:w-1/2 xl:w-5/12 h-full flex flex-col place-items-center align-middle text-zinc-300">
			<div class="w-full">
				<div class="text-left w-full">
					<div class="text-x mt-16 font-medium">Maxim Popov</div>
					<div class="font-thin">Software Developer</div>
					<div class="flex flex-row mt-1 gap-2">
						<a href="http://www.linkedin.com/in/popov-maxim" target="_blank"><img src={linkedinLogo.src} class="socialIcon"></a>
						<a href="https://github.com/nomorehumor" target="_blank"><img src={githubLogo.src} class="socialIcon"></a>
						<a href="mailto:itsmail4max@gmail.com" target="_blank"><img src={emailLogo.src} class="socialIcon"></a>
			
					</div>
				</div>
			
				<div class="text-left mt-8">
				<h2 class="text-left">About</h2>
				<Brief></Brief>
				</div>
			</div>
		
		
			<div class="w-full mt-8">
				<h2 class="text-center md:text-left border-neutral-800 border-b-2 text-sm">
					<span id="work-tablink" class="tablink" onclick="openWork()">Work Experience</span>
					<span id="voluntary-tablink" class="tablink ml-3" onclick="openVoluntary()">Voluntary Work</span>
					<span id="projects-tablink" class="tablink ml-3" onclick="openProjects()">Projects</span>
				</h2>
				<div id="work" class="flex flex-col place-items-center justify-center">
					{cvBlocks.map(block => (<CVBlock cvBlock={block}></CVBlock>))}
				</div>
				<div id="voluntary" class="flex flex-col place-items-center justify-center"> 
					{voluntary.map(block => (<CVBlock cvBlock={block}></CVBlock>))}
				</div>
				<div id="projects" class="flex flex-col flex-wrap gap-x-1 gap-y-4 justify-between mt-4 sm:flex-row">
					{projects.map(project => (<ProjectBlock project={project}></ProjectBlock>))}
					<!-- {cvBlocks.map(block => (<CVBlock cvBlock={block}></CVBlock>))} -->
				</div>

			</div>
		
			<!-- <div id="experience" class="tab" v-show="this.activeTab=='experience'"> -->
				<!-- <Experience></Experience> -->
				<!-- </div> -->
				
				<!-- <SkillCircle class="mt-4"></SkillCircle>
				<SearchBar class="mt-8"></SearchBar>
				<FilterButtonPanel class="mt-8"></FilterButtonPanel> -->
				
		
			<div class="flex items-center w-3/4 h-5/8 mt-10 gap-20">
				<div class="basis-1/2 flex flex-col place-items-center">
				
				<!-- <BackgroundWaves color="#606060" :strength="0.15"></BackgroundWaves> -->
				</div>
			</div>
		</main>
		
		<footer class="text-zinc-600 flex justify-center align-middle h-14 mt-6">
			<div class="flex-col ">
				<p>Maxim Popov 2024</p>
			</div>
		</footer>
	</body>
</html>

<style is:global>
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


main {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	flex: 1;
}

*::-moz-selection { /* Code for Firefox */
  color: #a1a1aa;
  background: #121212;
}

*::-webkit-selection {
  background: #a1a1aa;
  color: #121212;
}

*::selection {
  background: #a1a1aa;
  color: #121212;
}

.socialIcon {
	@apply w-6;
	@apply transition-transform;
}

.socialIcon:hover {
	@apply fill-gray-600;
	@apply scale-110;
}

.activeTablink {
	@apply text-zinc-50 !important;
	padding-bottom: 3px;
	z-index: -10;
	border-bottom: 1px solid !important;
	@apply border-zinc-100;
}

.tablink {
	/* @apply p-2; */
	@apply text-zinc-400;
	/* padding: 0.4em 0.5em; */
	transition: all 0.1s ease-in-out;
}

.tablink:hover {
	transition: all 0.1s ease-in-out;
	@apply cursor-pointer;
	@apply text-zinc-50
}
</style>

<script is:inline>
	// Initial state
	document.getElementById('projects').style.display = 'none';
	document.getElementById('voluntary').style.display = 'none';

	document.getElementById('work-tablink').classList.add('activeTablink');

	function openWork() {
		document.getElementById('work').style.display = 'flex';
		document.getElementById('projects').style.display = 'none';
		document.getElementById('voluntary').style.display = 'none';

		document.getElementById('work-tablink').classList.add('activeTablink');
		document.getElementById('projects-tablink').classList.remove('activeTablink');
		document.getElementById('voluntary-tablink').classList.remove('activeTablink');
	}

	function openProjects() {
		document.getElementById('work').style.display = 'none';
		document.getElementById('projects').style.display = 'flex';
		document.getElementById('voluntary').style.display = 'none';

		document.getElementById('work-tablink').classList.remove('activeTablink');
		document.getElementById('projects-tablink').classList.add('activeTablink');
		document.getElementById('voluntary-tablink').classList.remove('activeTablink');
	}

	function openVoluntary() {
		document.getElementById('work').style.display = 'none';
		document.getElementById('projects').style.display = 'none';
		document.getElementById('voluntary').style.display = 'flex';

		document.getElementById('work-tablink').classList.remove('activeTablink');
		document.getElementById('projects-tablink').classList.remove('activeTablink');
		document.getElementById('voluntary-tablink').classList.add('activeTablink');
	}
</script>